body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  overflow: scroll;
}
body {
    background: #e6ecf0;
}
.none {
    display: none !important;
}
button:focus {
    outline: 0;
}
.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.buttonsRow {
    display: flex;
    flex-direction: row;
}
.yearButton {
    color: gray;
    border: none;
    background: #e6ecf0;
    margin: 0 1px;
}
.yearButton:hover {
    color: black;
    background: #d2d8dc;
}
.iconButton {
    height: 30px;
    width: 30px;
    border: none;
    background: inherit;
    margin: 5px;
    border-radius: 50%;
}
.deleteButton {
    position: absolute;
    right: 5px;
}
.iconButton:hover {
    background: lightgray;
}

.backType{
    background: white;
    width: 650px;
    margin: auto;
}
.card {
    background: white;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    padding: 5px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    width: 580px;
    position: relative;
}
.contentCard {
    display: block;
}
.leftAvatarPanel {
    float: left;
    height: 100%;
}
.avatar {
    border-radius: 50%;
    float: left;
    margin: 10px;
}
.fullNameGroup{
    display: flex;
    max-width: 100%;
    line-height: 20px;
}
.fullName {
    font-weight: bold;
}
.userName {
    color: #657786;
}
.hashTags {
    color: #9D582E;
    display: flex;
    max-width: 100%;
    line-height: 20px;
}
.hashTag {
    margin: 1px;
}
.adaptiveMedia {
    margin-top: 10px;
    width: 90%;
}
.text {
    color: #222222;
    display: flex;
    max-width: 90%;
    line-height: 20px;
}